@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&family=Spectral:wght@300;400;600;700&display=swap');

@import 'tailwindcss';

@theme {
  --font-primary: 'Karla';
  --color-primary: #b5215a;
  --color-dark: #911d4a;
  --color-lighter: fff2f7;
  --color-light: #ffd8e7;
}
