@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&family=Spectral:wght@300;400;600;700&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: 'Karla', sans-serif;
  --color-primary: #b5215a;
  --color-dark: #911d4a;
  --color-lighter: #fff2f7;
  --color-light: #ffd8e7;
  --color-normalbg: #f3f4f6;
  --color-darkbg: #1e2939;
}
