@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&family=Spectral:wght@300;400;600;700&display=swap');

@import 'tailwindcss';

@theme {
  --font-primary: 'Karla';
  --color-primary: #9b8ec7;
  --color-dark: #5d5577;
  --color-lighter: #f2eae0;
  --color-light: #c2bbb3;
}
